:root {
  --background-color: #e5e5e5;
  --header-text-color: #212121;
  --title-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background-color);
  color: #212121;
}

.list {
  list-style: none;
}

.header {
  background-color: #ffffff;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.dark-logo {
  color: #212121;
}

.header-link {
  color: var(--header-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.contacts-link {
  color: var(--secondary-text-color);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
